div.part-board-container {
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
    margin: 1.5rem 0;

    .title-container {
        cursor: pointer;
        display: flex;
        flex-flow: row;
        margin: 0.5rem 0 0.25rem 1rem;

        h3.title {
            margin: 0;
        }

        .arrow {
            height: 13px;
            margin: 0 1rem 0 auto;
            position: relative;
            width: 13px;

            transition: 0.4s ease;

            &:before,
            &:after {
                background-color: transparent;
                border-bottom: 12px solid black;
                content: '';
                height: 10px;
                position: absolute;
                transition: 0.4s ease;
                width: 3px;
            }

            &:before {
                transform: rotate(-135deg);
            }

            &:after {
                transform: rotate(135deg);
            }

            &.active {
                transform: translate(0, -6px);

                &.arrow {

                    &:before {
                        transform: rotate(-45deg);
                    }

                    &:after {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    hr {
        background: rgba($color: #000000, $alpha: 0.5);
        border: 0;
        height: 1px;
        margin: 0 0 0.5rem 0;
    }

    .content {
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    &.onhover {
        opacity: 0.8;
    }
}