@use './base';

@use './components';

// index.scss
div.app-board-container {
    position: relative;


    &::before {
        content: "Click to collapse";
        left: 1rem;
        letter-spacing: -1.5px;
        opacity: 0.5;
        position: absolute;
        top: 2rem;
    }

    &::after {
        content: url(./../../public/arrow.svg);
        height: 2rem;
        left: 5rem;
        position: absolute;
        top: 3.5rem;
        transform: rotate(120deg);
        width: 2rem;
    }
}